<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :company, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :start_date, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :end_date, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :position, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :summary, input_html: { class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
